<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
    http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd 
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context.xsd">


	<context:component-scan base-package="org.arpit.java2blog" />


	<!-- =============================================== -->
	<!-- JMS Common, Define JMS connectionFactory -->
	<!-- =============================================== -->
	<!-- Activemq connection factory -->
	<bean id="amqConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
		<!-- brokerURL, You may have different IP or port -->
		<constructor-arg index="0" value="${amq.broker.url}" />
	</bean>

	<!-- Pooled Spring connection factory -->
	<bean id="cachingConnectionFactory"
		class="org.springframework.jms.connection.CachingConnectionFactory">
		<constructor-arg ref="amqConnectionFactory" />
	</bean>

	<bean id="connectionFactory"
		class="org.springframework.jms.connection.TransactionAwareConnectionFactoryProxy">
		<property name="targetConnectionFactory" ref= "cachingConnectionFactory" />
		<property name="synchedLocalTransactionAllowed" value="true" />
	</bean>

	<!-- ======================================================= -->
	<!-- JMS Send, define default destination and JmsTemplate -->
	<!-- ======================================================= -->
	<!-- Default Destination Queue Definition -->
	<bean id="defaultDestination" class="org.apache.activemq.command.ActiveMQQueue">
		<!-- name of the queue -->
		<constructor-arg index="0" value="${amq.default.dest.queue}" />
	</bean>

	<!-- JmsTemplate Definition -->
	<bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
		<property name="connectionFactory" ref="connectionFactory" />
		<property name="defaultDestination" ref="defaultDestination" />
		<property name="sessionTransacted" value="true" />
	</bean>

	<!-- ============================================================= -->
	<!-- JMS Receive，Define MessageListenerContainer -->
	<!-- ============================================================= -->
	<!-- <bean id = "messageListenerContainer" class="org.springframework.jms.listener.DefaultMessageListenerContainer"> 
		<property name="connectionFactory" ref="connectionFactory"/> <property name="destinationName" 
		value="Send2Recv"/> <property name="messageListener" ref="jmsMessageListener"/> 
		</bean> -->

</beans>